@model FizzBuzzApp.Web.ViewModels.FizzBuzzViewModel
@{
    ViewData["Title"] = "Fizz Buzz";
}

<h2>@ViewBag.Title.</h2>
<form asp-controller="Home" asp-action="Index" method="post" class="form-horizontal" role="form">
    <div class="form-group">
        <label asp-for="Input" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Input" class="form-control" />
            <span asp-validation-for="Input" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Submit" />
        </div>
    </div>
    @if (!String.IsNullOrEmpty(Model.Result) )
    {
        <div class="form-group">
            <label asp-for="Result" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Result" class="form-control" disabled="true"/>
            </div>
        </div>
    }
</form>
